
<ul>
	<% @available_array.each_with_index do |available, i| %>
		<% if available[:available] != 0%>
		 	<li class="available" data-time="<%=@hours_in_day[i]%>" data-id="<%= available[:id]%>"><%=@hours_in_day[i]%></li>
		 <% else %>
			<li class="unavailable" data-time="<%=@hours_in_day[i]%>"><%=@hours_in_day[i]%></li>
		 <% end %> 
	<% end %>
</ul>