<div class="users_info">
	<h3><%= current_user.first_name %>
	<%= current_user.last_name %></h3><br>
	<h4><%= current_user.email %></h4>
	
</div>
<div class="vehicles_list">
	<div class="vehicles_head"><h1>Vehicles</h1></div>

	<div class="user_vehicles_list">
	<div id="accordion" role="tablist" aria-multiselectable="true">
		<% current_user.vehicles.each do |vehicle| %>
			<div class="card">
			    <div class="card-header" role="tab" id="heading<%= vehicle.id %>">
			      <h5 class="mb-0">
			        <a class="full_width" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= vehicle.id %>" aria-expanded="true" aria-controls="collapse<%= vehicle.id %>">
						<%= vehicle.make %> 
						<%= vehicle.model %> 
					</a>
			      </h5>
			    </div>

			    <div id="collapse<%= vehicle.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= vehicle.id %>">
			      <div class="card-bl">
			      <div class="dropdown user_cars_options">
					  <button class="btn btn-secondary dropdown-toggle user_cars_options" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    =
					  </button>
					  <div class="dropdown-menu user_cars_menue" aria-labelledby="dropdownMenuButton">
					    <a><%= link_to "Create Job", "/jobs?vehicle=#{vehicle.id}", method: :post%></a><br>
						<a><%= link_to "Delete Vehicle", vehicles_destroy_path(id: vehicle.id), method: :delete %></a>
					  </div>
					</div>
					<button class="edit_vehicle_button">Edit Vehicle</button>	
					<div class="hidden edit_vehicle">
						<%= render 'vehicles/edit', vehicle: vehicle %>
					</div><br>
					<% vehicle.jobs.each do |job| %>
						<%= job.customer_description %>
						<%if job.appointment_id == nil %>
							<button class="schedule_job_button" data-id="<%= job.id %>">Schedule Job</button>
							<div class="adding_elements">
							</div>
						<% else %>
							<h3>Scheduled for <%=job.appointment.date%> <%=job.appointment.hour%> with <%= job.appointment.mechanic.first_name %> <%= job.appointment.mechanic.last_name %></h3>
						<% end %><br>
					<% end %>
				</div>
		    </div>
		  
			<% end %>
		</div>
	</div>
</div>


<div class="hidden edit_profile">
	<%= render 'users/registrations/edit' %>
</div>
<div class="hidden add_vehicle">
	<%= render 'vehicles/new_vehicle' %>
</div>
<% if !@new_job.nil? %>
	<div class=" edit_job">
		<%= render 'jobs/edit' %>
	</div>
<% end %>

<script>
	var date;
	var time;
	var _this
	var current_job;
	var current_mechanic
	$('.schedule_job_button').on('click', function() {
		$(".adding_elements").html('')
		current_job = this.getAttribute('data-id');
		_this = this
		$(this).next(".adding_elements").html(`
			<div class="maps_container" style='width: 704px;'>
			  <div id="multi_markers" style='width: 700px; height: 400px;'></div>
			</div>
			<div class="adding_schedule">
			</div>
			`)
		var handler = Gmaps.build('Google');
		handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'multi_markers'}}, function(){
			mechanics_markers = handler.addMarkers(<%=raw @mechanics_hash.to_json %>);
			user_marker = handler.addMarkers(<%=raw @user_hash.to_json %>);
			
			handler.bounds.extendWith(user_marker);

	  		handler.fitMapToBounds();
	  		handler.getMap().setZoom(9);
		});
	});
	// both calanders have fc-future class so i needed to scope it by putting it within script tage with in the html
	$(".fc-future").off('click'); // takes off click events for fc-future for the other calendar
	$(document).on('click','.fc-future', function() {
		$('.mechanic_times').removeClass('hidden');

		future = $('.fc-future')
		for (var i = 0; i < future.length; i++) {
		    future[i].style.backgroundColor = "#ffffff";
		    future[i].style.opacity = "0.9";
		}
		this.style.backgroundColor = "lightblue"
	    date = this.getAttribute('data-date')
	    $('.mechanic_schedule_head').html('<h2>' + date + '</h2>');
	    $('.schedule_head').text(date);

		$.ajax(
	    {
	      url:"/calendars/show",
	      type:'get',
	      data: {
	      	date: date,
	      	mechanic: current_mechanic,
	      } 
	    });
	});
</script>








