


<div class="vehicles_list">
	<div class="vehicles_head"><h1>Vehicles</h1></div>

	<div class="user_vehicles_list">
		<% current_user.vehicles.each do |vehicle| %>
			<%= vehicle.make %> 
			<%= vehicle.model %> 
			<button class="edit_vehicle_button">Edit Vehicle</button>
			<% @vehicle = vehicle %>
			<div class="hidden edit_vehicle">
				<%= render 'vehicles/edit' %>
			</div><br>
			<% vehicle.jobs.each do |job| %>
				<%= job.customer_description %>
				<% @job = job %>
				<button class="edit_job_button">Edit Job</button>
				<%= link_to "Schedule Job", "/users/index?job_id=#{job.id}" %>
				<div class="hidden edit_job">
					<%= render 'jobs/edit' %>
				</div><br>
			<% end %>
			<div class="dropdown user_cars_options">
			  <button class="btn btn-secondary dropdown-toggle user_cars_options" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    =
			  </button>
			  <div class="dropdown-menu user_cars_menue" aria-labelledby="dropdownMenuButton">
			    <a><%= link_to "Create Job", "/jobs?vehicle=#{vehicle.id}", method: :post%></a><br>
				<a><%= link_to "Delete Vehicle", vehicles_destroy_path(id: vehicle.id), method: :delete %></a>
			  </div>
			</div>
			<hr>
		<% end %>
	</div>
</div>

<div class="users_info">
	<h3><%= current_user.first_name %>
	<%= current_user.last_name %></h3><br>
	<h4><%= current_user.email %></h4>
	
</div>
<div class="hidden edit_profile">
	<%= render 'users/registrations/edit' %>
</div>
<div class="hidden add_vehicle">
	<%= render 'vehicles/new_vehicle' %>
</div>
<% if @new_job %>
	<%byebug%>
	<div class=" edit_job">
		<%= render 'jobs/edit' %>
	</div>
<% end %>








